@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Sigmar+One|Open+Sans');

body{
  font-family: 'Oswald', serif;
  font-weight: 400;
  background-color: black;
}

div .container-fluid{
  background-color: black;
}


nav{
  font-family: 'Sigmar One', sans-serif;
  font-weight: 400;
}

.display-3{
 font-family: 'Sigmar One', sans-serif;
  color: #af330a;
  font-size: 100px; font-weight: 700;
}

.lead{
  font-family: 'Oswald', sans-serif;
  font-size: 30px; font-weight: 300;
}

.card-text{
 font-family: 'Oswald', sans-serif;
 font-weight: 300;
}

.navbar-dark {
    background-color: transparent;
}

.rojo {
    background-color:#af330a;
    color:white;
}

.cardNA {
  background-color: #ef7f5b;
}

.cardEU {
  background-color: #7f75ef;
}

.cardSA {
  background-color: #e5bf5e;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.bg-light {
  background-color: black !important;
}

.bg-dark {
  background-color: #af330a !important;
}

div .row{
  background-color: black;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
